<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="/public/css/main.css" />

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <header>
    <nav>
      <div id="nav-container">
        <div id="logo-container">
          <a href="/"><img src="/public/images/logo.png" alt="FinDucks Logo" class="logo no-background"/></a>
        </div>
        <div id="links-container">
          <a href="/">Home</a>
          <a href="/budget">Budget Tool</a>
          <a href="/learn">Learn</a>
          <a href="/quiz">Quiz</a>
        </div>
      </div>
    </nav>
  </header>

  {{{body}}}

  <footer>

    <div id="footer-container">
      <p>&copy; FinDucks. All rights reserved.</p>
      <a href="https://forms.gle/ChTgw25eRVudvEneA" class="footerbutton" target="_blank" rel="noopener noreferrer">Contact Us & Leave Feedback</a>
    </div>
  </footer>

  <script src="/public/js/main.js"></script>
</body>
</html>
