<div id="budget-page-wrapper">
    <form id="budget-form">
      <fieldset>
        <legend>Your Expenses:</legend>
        <label for="school-expenses">School Expenses:<span class="info-icon"></span></label>
        <input type="number" id="school-expenses" name="School Expenses" placeholder="0" />
 
        <div class="info-content" style="display: none;">
          School expenses include tuition fees, textbooks, school supplies, online course subscriptions, and any other educational resources required for your studies.
        </div>

        <label for="food-groceries">Food and Groceries:<span class="info-icon"></span></label>
        <input type="number" id="food-groceries" name="Food and Groceries" placeholder="0" />
        <div class="info-content" style="display: none;">
          Food and groceries cover your monthly expenditure on food items including meals, snacks, beverages, and all grocery shopping for home-cooked meals.
        </div>

        <label for="living-expenses">Living Expenses:<span class="info-icon"></span></label>
        <input type="number" id="living-expenses" name="Living Expenses" placeholder="0" />
        <div class="info-content" style="display: none;">
          Living expenses encompass rent or dorm fees, utility bills such as electricity and water, and other household necessities like cleaning supplies and toiletries.
        </div>

        <label for="professional-fees">Professional Fees:<span class="info-icon"></span></label>
        <input type="number" id="professional-fees" name="Professional Fees" placeholder="0" />
        <div class="info-content" style="display: none;">
          Professional fees may involve costs for services such as doctors, dentists, trainers, etc.
        </div>

        <label for="entertainment-travel">Entertainment and Travel:<span class="info-icon"></span></label>
        <input type="number" id="entertainment-travel" name="Entertainment Travel" placeholder="0" />
        <div class="info-content" style="display: none;">
          Entertainment and travel expenses include all costs related to leisure activities, hobbies, vacations, local travel for fun, and event tickets like concerts or movies.
        </div>

        <label for="clothing-expenses">Clothing Expenses:<span class="info-icon"></span></label>
        <input type="number" id="clothing-expenses" name="Clothing Expenses" placeholder="0" />
        <div class="info-content" style="display: none;">
          Clothing expenses involve spending on new apparel, shoes, accessories, and laundry or dry cleaning services.
        </div>

        <label for="loan-payments">Loan Payments:<span class="info-icon"></span></label>
        <input type="number" id="loan-payments" name="Loan Payments" placeholder="0" />
        <div class="info-content" style="display: none;">
          Loan payments could be monthly installments for any personal loans, credit card debt, or other borrowed funds that need to be repaid.
        </div>

        <label for="donations-gifts">Donations and Gifts:<span class="info-icon"></span></label>
        <input type="number" id="donations-gifts" name="Donations and Gifts" placeholder="0" />
        <div class="info-content" style="display: none;">
          Donations and gifts include any charitable giving and purchases of presents for friends and family on special occasions.
        </div>

        <label for="personal-toiletries">Personal Toiletries:<span class="info-icon"></span></label>
        <input type="number" id="personal-toiletries" name="Personal Toiletries" placeholder="0" />
        <div class="info-content" style="display: none;">
          Personal toiletries are everyday items such as soap, shampoo, dental care products, and other personal hygiene necessities.
        </div>

        <label for="savings-investments">Savings and Investments:<span class="info-icon"></span></label>
        <input type="number" id="savings-investments" name="Savings amd Investments" placeholder="0" />
        <div class="info-content" style="display: none;">
          Savings and investments may consist of funds set aside in savings accounts, investment in stocks or bonds, retirement plans, or other forms of financial growth.
        </div>

        <label for="savings-investments">Transportation:<span class="info-icon"></span></label>
        <input type="number" id="transportation" name="Transportation" placeholder="0" />
        <div class="info-content" style="display: none;">
          Transportation costs cover all expenses related to commuting, whether it's a bus pass, gas for your car, ride-sharing services, or bicycle maintenance.
        </div>

        <label for="savings-investments">Miscellaneous:<span class="info-icon"></span></label>
        <input type="number" id="miscellaneous" name="Miscellaneous" placeholder="0" />
        <div class="info-content" style="display: none;">
          Miscellaneous expenses are for unpredictable or infrequent costs that don't fit into the usual categories, like repairs, or one-time purchases.
        </div>

      </fieldset>

      <fieldset>
        <legend>Your Income and Contributions:</legend>
        <label for="income">Contributions and Income:<span class="info-icon"></span></label>
        <input type="number" id="income" name="income" placeholder="0" />
        <div class="info-content" style="display: none;">
          Contributions and income should reflect all sources of money coming in, such as salary from a job, financial aid, scholarships, grants, or money from family.
        </div>
      </fieldset>

      <button type="submit">Calculate</button>
    </form>
    <div id="chart-and-suggestions">
      <div id="chart-container">
        <canvas id="pie-chart" width="400" height="400"></canvas>
      </div>
      <div id="suggestions-container">
      </div>
    </div>
</div>