<div id="main-content">

    <section id="promo-section" style="background: url('public/images/promo-background.jpg') no-repeat center center; background-size: cover;">
        <div class="promo-content">
            <h1>Welcome to FinDucks!</h1>
        </div>
    </section>

    <div class="tool-guide-wrapper">

        <section id="budget-tool-section" class="tool-section">
            <div class="section-content">
                <h2>Budgeting Tool</h2>
                <p>Understand your spending habits with our interactive budgeting tool. Visualize how your expenses break down and find ways to improve your financial health.</p>
                <a href="/budget" class="button">Start Budgeting</a>
            </div>
            <div class="section-visual">
                <img src="public/images/Budget-symbol.png" alt="Budgeting Tool Pie Chart Placeholder">
            </div>
        </section>

        <section id="budget-guide-section" class="guide-section">
            <div class="section-content">
                <h2>How to Use the Budgeting Tool</h2>
                <p>Follow our step-by-step guide to get the most out of your budgeting tool and take control of your finances.</p>
                <ol>
                    <li>Enter your monthly income and expenses.</li>
                    <li>If you are unsure of what a category includes, click the question mark for more info.</li>
                    <li>After entering all income and expenses, analyze your results in the pie chart.</li>
                    <li>Adjust categories according to your lifestyle and savings goals.</li>
                    <li>View suggestions to see if you are overspending or underspending.</li>
                    <li>If you are overspending, think of ways to increase your income or decrease expenses. If have a surplus, consider saving or investing it</li>
                    <li>Implement changes to your lifestyle and come back monthly to get a view of how you are spending your money and how you can improve!</li>
                </ol>
            </div>
        </section>

    </div>

    <section id="learn-and-quiz-section">
        <div class="quiz-content">
            <h2>Learn and Test Your Knowledge</h2>
            <p>Read our short financial guides and answer quiz questions to reinforce your learning.</p>
            <a href="/learn" class="button">Learn More</a>
        </div>
    </section>

</div>


